/* 
    Created on : Oct 27, 2020, 11:01:09 AM
    Author     : 819466
*/
* {
  box-sizing: border-box;
}

 

body {
    background-color: #888;
}

 

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

 

.left {
  width: 15%  
} 
.right {
  width: 20%;
}

 

.middle {
  width: 60%;
}

 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 

.userTable {
    text-align: center;
}

 

.blueButton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

 

.redButton {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}