* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(#2d3790, #1d214b) no-repeat center fixed; 
}

h1, h2 {
    text-align: center;
    color: #FFF;
}

input[type=text] {
    border: none;
    background: none;
    border-bottom: 2px solid #1c244c;
    width: 100%;
    padding: 10px 5px;
    color: #FFF;
}

::placeholder {
    color: #d8b5c4;
}

label {
    color: #FFF;
}

.column {
    float: left;
    padding: 10px;
}
.left {
    width: 15%;
    background-color: #33408e;
} 
.right {
    width: 20%;
    background-color: #33408e;
}
.middle {
    width: 60%;
    background-color: #33408e;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    text-align: center;
    border: 1px solid white;
    width: 100%;
    color: #FFF;
}

.blueButton {
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}
.redButton {
    background-color: #f44336;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

.tableButton {
    padding: 8px 8px;
    font-size: 9px;
}
.bigButton {
    padding: 15px 15px;
    font-size: 12px;
}