/* 
    Created on : Oct 27, 2020, 11:01:09 AM
    Author     : 819466
*/
* {
  box-sizing: border-box;
}

 

body {
    background-color: #888;
}

.column {
  float: left;
  padding: 10px;
}
.left {
  width: 15%  
} 
.right {
  width: 20%;
}
.middle {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

 
table {
    text-align: center;
    border: 1px solid white;
}

.blueButton {
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}
.redButton {
    background-color: #f44336;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

.tableButton {
    height: 12px;
    padding: 8px 8px;
    font-size: 9px;
}
.bigButton {
    padding: 15px 15px;
    font-size: 12px;
}